/****************
*TODO    GENERIC
*****************/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header + * {
  margin-top: 100px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

/****************
*TODO    UTILITY
*****************/
.container {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.button {
  padding: 5px 8px;
  border-radius: 50px;
}

.row {
  margin: 0 -1.5rem;
}

.container-content {
  margin: 20px 0;
}

/****************
*TODO    SECTION
*****************/

/* ? HEADER */

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  line-height: 100px;
  background-color: #0084fd;
}

#header .container {
  display: flex;
  justify-content: space-between;
}

.menu-full {
  display: none;
}

header .button {
  background-color: white;
  color: black;
}

/* ? section 1 - #intro */

.col {
  padding: 1.5rem;
}

.card {
  border-radius: 25px;
  padding: 1.5rem;
  background-color: #b5ddff;
  text-align: center;
}

#intro .col:first-child .card {
  text-align: left;
}
#intro .button {
  background-color: #0084fd;
  padding: 7px 40px;
}

/* ? section 2 - #STRATEGIC PLANNING */
#strategic-section {
  background-color: #9792e4;
}

#strategic-section .col:first-child .card {
  background-color: transparent;
  text-align: left;
}

#strategic-section .col:last-child .card {
  background-color: #ffffff;
}

#strategic-section .fa-arrow-down {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background: #9792e4;
}

/* ? section 3 - #TESTIMONIALS */

#testimonials .col:first-child .card {
  background-color: transparent;
}

#testimonials :not(:first-child) .card {
  background-color: #9792e4;
}

/* ? section 4 - #BENEFITS */
#benefits {
  background-color: #9792e4;
}

#benefits .col:first-child .card {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}

#benefits :not(:first-child) .card {
  text-align: left;
  background-color: white;
}

#benefits .button {
  padding: 7px 40px;
  background-color: #9792e4;
}

/* ? section 5 - #ABOUT US */
#about-us .card {
  background-color: transparent;
  text-align: left;
}

#about-us .button {
  padding: 5px 15px;
  background-color: #9792e4;
}

/* ? section 6 - #started */

#started {
  background-color: #9792e4;
}
#started .card {
  background-color: transparent;
}
#started .button {
  font-size: 1.2rem;
  font-weight: 900;
  padding: 20px 70px;
  background-color: white;
  color: #9792e4;
}
#started .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#started p {
  text-align: center;
  max-width: 400px;
}

/****************
*TODO  MEDIA QUERY
*****************/

/* ? TABLET */

@media screen and (min-width: 576px) {
  /* ? section 1 - #intro */

  #intro .row,
  #benefits .row,
  #about-us .row {
    display: flex;
    flex-wrap: wrap;
  }
  #intro .col {
    width: calc(100% / 3);
  }
  #intro .col:first-child {
    width: calc(100% / 3 * 2);
  }
  #intro .card {
    height: 100%;
  }

  /* ? section 3 - #TESTIMONIALS */

  #testimonials :not(:first-child) .card {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #testimonials .card-img {
    flex: 1;
  }
  #testimonials .card-text {
    flex: 3;
  }

  /* ? section 4 - #BENEFITS */

  #benefits .col:first-child {
    width: 100%;
  }

  #benefits .col {
    width: calc(100% / 2);
  }

  /* ? section 5 - #ABOUT US */

  #about-us .col:first-child {
    width: 60%;
  }

  #about-us .col:last-child {
    width: 40%;
  }

  #about-us .row {
    padding: 3rem;
  }
}

/* ? DESKTOP */

@media screen and (min-width: 992px) {
  /* ? HEADER */

  .container {
    max-width: 1180px;
    margin: 0 auto;
  }
  .menu-hamburger {
    display: none;
  }
  .menu-full {
    display: flex;
    gap: 1.5rem;
  }

  /* ? section 1 - #intro */

  #intro .col:first-child .card {
    display: flex;
  }
  .card-text,
  .card-img {
    width: 50%;
  }

  /* ? section 2 - #STRATEGIC PLANNING */

  #strategic-section .row {
    display: flex;
    padding-left: 8rem;
    padding-right: 8rem;
  }
  #strategic-section .col {
    width: calc(100% / 2);
  }
  #strategic-section .col:last-child {
    margin-top: auto;
  }

  /* ? section 4 - #BENEFITS */

  #benefits .col {
    width: calc(100% / 3);
  }

  #about-us .row {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

/****************
*TODO    DEBUG
*****************/

.debug * {
  border: 2px dashed black;
  padding: 10px;
}
