/****************
*TODO    GENERIC
*****************/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Akatab", sans-serif;
  font-weight: 900;
}

header + * {
  margin-top: 80px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

img:not(header img) {
  width: 100%;
}

h3 {
  font-size: 30px;
  font-weight: 900;
}

h2 {
  font-size: 50px;
  font-weight: 900;
}

p:not(.copyright) {
  line-height: 2.3rem;
  font-size: 25px;
}

/****************
*TODO    UTILITY
*****************/
.container {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.button {
  border-radius: 50px;
  letter-spacing: 3px;
  font-size: 20px;
}

.row {
  margin: 0 -25px;
}

.container-content {
  margin: 20px 0;
}

.col {
  padding: 25px;
}

section:nth-of-type(even) {
  background-color: #9792e4;
  color: white;
  & .card {
    background-color: white;
  }
}

.card {
  border-radius: 25px;
  padding: 32px;
  background-color: #b5ddff;
  text-align: center;
}

.col .card {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

/****************
*TODO    SECTION
*****************/

/* ? HEADER */

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;

  font-size: 1.1rem;
  font-weight: 500;
  height: 80px;
  line-height: 80px;
  background-color: #0084fd;
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-full {
  display: none;
}

header .button-start {
  padding: 10px 15px;
  border-radius: 50px;
  background-color: white;
  color: black;
}

/* ? section 1 - #intro */

#intro h3 {
  color: #0084fd;
}

#intro p {
  color: #5a6e7f;
}

#intro .col:first-child .card {
  text-align: left;
  gap: 0px;
}

#intro .button {
  max-width: 350px;
  background-color: #0084fd;
  padding: 1rem 6rem;
}

#intro .card-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2rem;
}

#intro .card-img > img {
  margin-top: 2rem;
  position: relative;
  bottom: -2rem;
  display: block;
}

#intro .icon > i {
  font-size: 100px;
}

/* ? section 2 - #STRATEGIC PLANNING */

#strategic-section .container-content {
  margin: 70px auto;
  & p {
    font-weight: 200;
  }
}

#strategic-section .card h3 {
  color: black;
}
#strategic-section .card > p {
  font-style: italic;
  font-weight: 100;
  line-height: 60px;
  color: black;
}

#strategic-section .fa-arrow-down {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background: #9792e4;
}

#strategic-section .card {
  align-items: center;
}

/* ? section 3 - #TESTIMONIALS */

#testimonials .col:first-child .card {
  background-color: transparent;
}

#testimonials :not(:first-child) .card {
  background-color: #9792e4;
}

/* ? section 4 - #BENEFITS */

#benefits .col:first-child .card {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}

#benefits :not(:first-child) .card {
  text-align: left;
}

#benefits .button {
  padding: 7px 40px;
  background-color: #9792e4;
}

/* ? section 5 - #ABOUT US */
#about-us .card {
  background-color: transparent;
  text-align: left;
}

#about-us .button {
  padding: 5px 15px;
  background-color: #9792e4;
  letter-spacing: normal;
  font-weight: 400;
}

/* ? section 6 - #started */

#started .card {
  background-color: transparent;
}
#started .button {
  font-size: 1.2rem;
  font-weight: 900;
  padding: 20px 70px;
  background-color: white;
  color: #9792e4;
}
#started .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#started p,
footer p {
  text-align: center;
  max-width: 400px;
}

/* ? section 7 - #FOOTER */

footer {
  background-color: #333333;
}

footer .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/****************
*TODO  MEDIA QUERY
*****************/

/* ? TABLET */

@media screen and (min-width: 576px) {
  /* ? section 1 - #intro */

  #intro .row,
  #benefits .row,
  #about-us .row {
    display: flex;
    flex-wrap: wrap;
  }
  #intro .col {
    width: calc(100% / 3);
  }
  #intro .col:first-child {
    width: calc(100% / 3 * 2);
  }
  #intro .card {
    height: 100%;
  }

  #intro .card-img {
    width: 60%;
    margin-top: auto;
  }

  /* ? section 3 - #TESTIMONIALS */

  #testimonials :not(:first-child) .card {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #testimonials .card-img {
    flex: 1;
  }
  #testimonials .card-text {
    flex: 3;
  }

  /* ? section 4 - #BENEFITS */

  #benefits .col:first-child {
    width: 100%;
  }

  #benefits .col {
    width: calc(100% / 2);
  }

  /* ? section 5 - #ABOUT US */

  #about-us .col:first-child {
    width: 60%;
  }

  #about-us .col:last-child {
    width: 40%;
  }

  #about-us .row {
    padding: 3rem;
  }
}

/* ? DESKTOP */

@media screen and (min-width: 1200px) {
  /* ? HEADER */

  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
  .menu-hamburger {
    display: none;
  }
  .menu-full {
    display: flex;
    gap: 1.5rem;
  }

  /* ? section 1 - #intro */

  #intro .col:first-child .card {
    flex-direction: row;
  }
  #intro .card-text {
    margin-top: 0;
    width: 50%;
    gap: 25px;
  }

  #intro .card-img {
    width: 50%;
  }

  #intro .card-img > img {
    width: 80%;
    left: 50px;
  }

  /* ? section 2 - #STRATEGIC PLANNING */

  #strategic-section .row {
    display: flex;
    padding-left: 8rem;
    padding-right: 8rem;
  }
  #strategic-section .col {
    width: calc(100% / 2);
  }
  #strategic-section .container-content > img {
    margin-bottom: 120px;
  }
  #strategic-section .col:last-child {
    margin-top: auto;
  }

  /* ? section 4 - #BENEFITS */

  #benefits .col {
    width: calc(100% / 3);
  }

  #about-us .row {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

/****************
*TODO    DEBUG
*****************/

.debug * {
  border: 2px dashed black;
  padding: 10px;
}
