/****************
*TODO    GENERIC
*****************/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

/****************
*TODO    UTILITY
*****************/
.container {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.button {
  padding: 5px 8px;
  border-radius: 50px;
}

.row {
  margin: 0 -1.5rem;
}

/****************
*TODO    SECTION
*****************/

/* ? HEADER */

header {
  height: 100px;
  line-height: 100px;
  background-color: #0084fd;
}

#header .container {
  display: flex;
  justify-content: space-between;
}

.menu-full {
  display: none;
}

header .button {
  background-color: white;
  color: black;
}

/* ? section 1 - #intro */

.col {
  padding: 0 1.5rem;
}

.card {
  border-radius: 25px;
  background-color: #b5ddff;
  text-align: center;
}

.col:first-child .card {
  text-align: left;
}

/****************
*TODO  MEDIA QUERY
*****************/

/* ? TABLET */

@media screen and (min-width: 576px) {
  #intro .row {
    display: flex;
    flex-wrap: wrap;
  }
  #intro .col {
    width: calc(100% / 3);
  }
  #intro .col:first-child {
    width: calc(100% / 3 * 2);
  }
  #intro .card {
    height: 100%;
  }
}

/* ? DESKTOP */

@media screen and (min-width: 992px) {
  .container {
    max-width: 1180px;
    margin: 0 auto;
  }
  .menu-hamburger {
    display: none;
  }
  .menu-full {
    display: flex;
    gap: 1.5rem;
  }
  #intro .col:first-child .card {
    display: flex;
  }
  .card-text,
  .card-img {
    width: 50%;
  }
}

/****************
*TODO    DEBUG
*****************/

.debug * {
  border: 2px dashed black;
  padding: 10px;
}
